.auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #fabb00;
  text-align: left;
}
.auth-form label {
  width: 300px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
  margin-bottom: 10px;
}
.auth-form input[type="text"],
.auth-form input[type="password"] {
  width: 300px;
  height: 10px;
  border: none;
  border-radius: 5px;
  padding: 20px 15px;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 20px;
  cursor: text;
}
.auth-form input[type="submit"] {
  text-decoration: none;
  background-color: #004dcb;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 40px;
  cursor: pointer;
  width: 300px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

@media (hover: hover) {
  .auth-form input[type="submit"]:hover {
    background-color: #fff;
    color: #004dcb;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
  }
}
.auth-form input[type="submit"]:active {
  background-color: #fff;
  color: #004dcb;
}

.validation-error-text {
  color: rgb(0, 0, 0);
  font-size: 1rem;
  font-weight: 400;
  margin-left: 20px;
}