#history-page {
  padding-top: 150px;
  height: 100%;
  width: 100%;
}
#history-page > h2 {
  margin-bottom: 50px;
  font-size: 2.5rem;
}
.td-timestamp-button {
  width: 0;
  text-align: center;
  padding: 0 8px;
  background-color: #f8f8f8;
}
.timestamp-button {
  color: black;
  border: none;
  background-color: transparent;
  font-size: 1.8rem;
  cursor: pointer;
}
@media (hover: hover) {
  .timestamp-button:hover {
    color: #fabb00;
  }
}
.timestamp-button:active {
  color: #fabb00;
}

@media only screen and (max-width: 600px) {
  #history-page > h2 {
    font-size: 2rem;
  }
}
