#profile-page {
  padding-top: 200px;
}

#profile-page h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 30px;
}
#profile-page h4 {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 30px;
}
input#confirm {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-right: 10px;
}
label {
  vertical-align: middle;
}
#logout-button {
  margin-top: 50px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #fabb00;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  width: 320px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}
@media (hover: hover) {
  #logout-button:hover {
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
  }
}
#logout-button:active {
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
}
