#complete-routine-page {
  padding-top: 5%;
  height: 100%;
  width: 100%;
}
#complete-routine-page > h2 {
  margin-bottom: 50px;
  font-size: 2.5rem;
}
#complete-routine-page > h3 {
  margin: 30px 0;
  font-size: 2rem;
}

#complete-routine-page #home-button {
  display: block;
  margin: 50px auto;
  text-decoration: none;
  background-color: #fabb00;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  width: 320px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}
@media (hover: hover) {
#complete-routine-page #home-button:hover {
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
}
}
#complete-routine-page #home-button:active {
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 600px) {
  #complete-routine-page > h2 {
    font-size: 2rem;
  }
  #complete-routine-page > h3 {
    font-size: 1.5rem;
  }
  #complete-routine-page #home-button {
    margin: 40px auto 0;
  }
}
