/* colors for dark mode switching
:root {
  --primary: none;
  --secondary: none;
  --tertiary: none;
  --text-header: #fff;
  --text-main: black;
}
NOT USED YET
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#table-container {
  width: 100%;
  max-width: 900px;
  max-height: 50%;
  margin: 0 auto;
  padding: 0 10px;
  overflow-y: auto;
}
table {
  border-collapse: collapse;
  width: 100%;
}
thead {
  display: table-header-group;
  position: sticky;
  top: 0;
  left: 0;
  background-color: #fabb00;
}
tbody {
  background-color: #fff;
}
th,
td {
  text-align: left;
  padding: 8px;
  border-right: 1px solid #f2f2f2;
}
th:last-child,
td:last-child {
  border: none;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}

@media only screen and (max-width: 600px) {
  table {
    font-size: 0.8rem;
  }
}

.button:focus-visible {
  outline: 2px dotted black;
}
.button:focus:not(:focus-visible) {
  outline: none;
}
